<h1>Hi <%= name %></h1>

<p> <h3> Warning, adding stock tickers when the market is closed may not be functioning right now.
	If you encounter some errors, please try again during market hours. </h3> </p>

<form action="/watchlist" method = POST>
	<label for = "tickerName"> Item name </label>
	<input type="text" name = "tickerName"id="item-name"> </input>

</form>